*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #ffeddc;
  display: grid;
  place-content: center;
  height: 100vh;
  margin: 0%;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    left: 5%;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    height: 100vh;
    top: 0;
  }
}

.container {
  margin-left: -95%;
}

.title {
  font-family: "Six Caps", "sans-serif";
  font-size: 10rem;
  line-height: 10.5rem;
  pointer-events: none;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 10%;
    height: 3px;
    background: black;
    left: -15%;
    top: 15%;
  }

  .title-2,
  .title-3 {
    position: relative;
    z-index: 2;
  }
}

.sub-headline {
  font-family: "Playfair Display SC", "sans-serif";
  font-size: 1rem;
  margin-top: 4em;
}

.waterbg {
  position: absolute;
  width: 40%;
  height: 150vh;
  z-index: -1;
  background: url(../images/girl.jpg);
  background-size: cover;
  right: 0%;
  filter: saturate(0);
  animation: fadeIn 2s;
  opacity: 70%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 70%;
  }
}

.img {
  position: absolute;
  width: 16em;
  height: 27em;
  top: 30%;
  left: 30%;
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  //   background: red;
}

.cursor {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  border: 1px solid black;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  position: fixed;
  transform: translate(-50%, -50%);
}

.letter {
  display: inline-block;
  line-height: 1em;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transform: translateY(-50px);
}
